<!doctype html>
<html>

	<head>
		<title>SABER Dashboard</title>
    		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/styles/css/all.min.css" />
		<link rel="stylesheet" href="/static/styles/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/styles/css/tooplate-style.css" />
		<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

		<script src="/static/jquery-3.3.1.slim.min.js"></script>
		<script src="/static/popper.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		{% block scripts %} {% endblock %}
	</head>

  <body>
    <!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/"><img src="https://files.readme.io/RJLXFb1xS2vyMQQ80Vhq_apl_vertical_blue.png" width="100" height="100" alt="">SABER DASHBOARD</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/new_experiment">New Experiment</a></li>
			<li class="nav-item"><a class="nav-link" href="/new_job">New Job</a></li>
			<li class="nav-item"><a class="nav-link" href="/experiments">View Experiments</a></li>
			<li class="nav-item"><a class="nav-link" href="/jobs">View Current Jobs</a></li>
			<li class="nav-item"><a class="nav-link" href="/new_image">Pull New Docker Image</a></li>
			<li class="nav-item"><a class="nav-link" href="/statistics">Statistics</a></li>
		</ul>
	</div>
</nav> 

    <div id="content">
        <br>
        {% block content %}{% endblock %}
    </div>

  </body>
</html>
