<!doctype html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
<div class="container">
    <h2>Overview</h2> 
    <p>Welcome to the SABER MICrONS Eval webapp. This app utilizes <a href="https://github.com/aplbrain/saber">SABER</a> to run MICrONS workflows on the cloud.</p>
    <p>Workflows are executed through <b>jobs</b>. Each <b>job</b> requires and <b>experiment</b> and a docker image to run. <b>Experiments</b> include task-specific parameters and IO information.</p>
    
    <h2>How to run a workflow</h2>
    <p>
        <ol>
            <li>Create Experiment.</li>
            <li>Create Job. Workflow will execute once job is created.</li>
            <li>Download output on jobs page.</li>
        </ol>
    </p>
    
    <h2>Requirements</h2>
    <p>
        <ul>
            <li>Image must be built on webserver.</li>
            <li>Output and input S3 buckets must already exist.</li>
            <li>Workflow can only output a CSV file.</li>
        </ul>
    </p>

    <h2>Important Links</h2>
    <p>
        <ul>
            <li><a href="http://microns-saber2:8080/admin/">Airflow Webserver</a></li>
            <li><a href="https://github.com/aplbrain/saber">SABER Github</a></li>
            <li><a href="https://console.aws.amazon.com/batch/home?region=us-east-1#/dashboard">AWS Batch</a></li>
        </ul>
    </p>

</div>
{% endblock %}
