<!doctype html>
{% extends "base.html" %}

{% block title %}New Job{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>Please specify parameters for job "{{job_name}}"
    </h1>

      <form action="/job_status" method="post">
        <input name="jobName" type="hidden" value={{job_name}} />
        <br />
        <input name="cwlFilename" type="text" value={{cwl_name}} />
        <br />
        <br />

    <div class="form-group">

          {% for param in params %}
          <input name="{{param}}" type="{{ params[param][0]}}" step="{{ params[param][1]}}" placeholder="{{param}}"/>
          <br />


          {% endfor %}

          <br />
          <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>

      </form>
    </div>
  </div>

{% endblock %}
