{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th>Job</th>
				<th>Execution Date</th>
				<th>Status</th>
				<th>Experiment</th>
				<th>Output</th>
			</tr>
		</thead>
		<tbody>
		{% for job in jobs %}
			<tr>
				<td>{{job["job_name"]}}</td>
				<td>{{job["execution_date"]}}</td>
				<td>{{job["status"]}}</td>
				<td>{{job["experiment"]}}</td>
				<td><a href="{{job["output"]}}">Download</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
