{% extends "base.html" %}

{% block title %}New Job{% endblock %}

{% block scripts %}
<script>
function submit_job() {
	var button = document.getElementById("submitButton");
	button.disabled = true;
	button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submit Job'

	var formData = new FormData(document.querySelector("form"));
	fetch("/api/job", {method: 'POST', body: formData}).then(response => {
		const reader = response.body.getReader();
		return reader.read().then(function processText({done, value}) {
			if (done) {
				button.disabled = false;
				button.innerHTML = 'Submit Job'
				return;
			}
		
			var value = new TextDecoder("utf-8").decode(value);
			console.log(done, value);

			var output = document.getElementById("output");
			output.innerHTML += value;
			output.scrollTop = output.scrollHeight;

			return reader.read().then(processText); 
		});
	}).catch(error => {
		console.error(error);
		window.alert(error);
	});
    return false;
}
</script>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="alert alert-info" role="alert">
			<p>
				<b>NOTE!</b>
				Job outputs will be saved into the
				<a href="https://s3.console.aws.amazon.com/s3/buckets/microns-saber/?region=us-east-1&tab=overview">microns-saber S3 bucket</a>.
				Output keys are formatted as follows:
				<br>
				<b>{experiment_name}/algorithm.0/{time_tag}-{job_name}-{docker_image}.csv</b>
			</p>
		</div>
		<form>
			<div class="form-group">
				<label for="dockerImage">Docker Image</label>
				<select name="dockerImage" class="form-control" required>
					{% for image_id in docker_images %}
					<option value="{{image_id}}">{{image_id.replace("256215146792.dkr.ecr.us-east-1.amazonaws.com/", "")}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="experiment">Experiment</label>
				<select name="experiment" class="form-control" required>
					{% for experiment in experiments %}
					<option value="{{experiment}}">{{experiment}}</option>
					{% endfor %}
				</select>
			</div>

			<button id="submitButton" type="button" class="btn btn-primary" onclick="return submit_job()">
				Submit Job
			</button>

		</form>

		<br>

		<label>Submission Output</label>
		<textarea id="output" rows="5" class="w-100" disabled></textarea>
	</div>
{% endblock %}
