{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}
	<div class="container">
		<h1>Statistics</h1>
		<p>{{num_jobs}} jobs run</p>
		<p>{{num_trials}} trials evaluated</p>
		<table class="table table-bordered shadow-sm">
			<thead class="thead-light">
				<tr>
					<th>Docker Image</th>
					<th>Size</th>
					<th>Jobs</th>
					<th>Successful Jobs</th>
					<th>Trials</th>
					<th>Avg. Execution Time</th>
				</tr>
			</thead>
			<tbody>
			{% for stats in image_stats %}
			<tr>
				<td>{{"/".join(stats["image_id"].split("/")[1:])}}</td>
				<td>{{stats["image_size"]}}</td>
				<td>{{stats["num_jobs"]}}</td>
				<td>{{stats["num_successful_jobs"]}}</td>
				<td>{{stats["num_trials"]}}</td>
				<td>{{stats["avg_exe_time"]}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<table class="table table-bordered shadow-sm">
			<thead class="thead-light">
				<tr>
					<th>Job</th>
					<th>Experiment</th>
					<th>Docker Image</th>
					<th>Number of Trials</th>
					<th>Abs. Error</th>
					<th>Mean Abs. Error</th>
					<th>Precision</th>
					<th>Recall</th>
					<th>F1</th>
					<th>AP</th>
					<th>Accuracy</th>
				</tr>
			</thead>
			<tbody>
			{% for job in job_stats %}
			<tr>
				<td>{{job["job_name"]}}</td>
				<td>{{job["experiment"]}}</td>
				<td>{{job["docker_image"]}}</td>
				<td>{{job["num_trials"]}}</td>
				<td>{{job["abs_error"]}}</td>
				<td>{{job["mean_abs_error"]}}</td>
				<td>{{job["precision"]}}</td>
				<td>{{job["recall"]}}</td>
				<td>{{job["f1"]}}</td>
				<td>{{job["AP"]}}</td>
				<td>{{job["accuracy"]}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
